<form #f="ngForm" (ngSubmit)="submit(f)" class="container">

  <!-- IDENTITÉ -->
  <fieldset>
    <legend>Identité</legend>

    <input
      type="text"
      name="name"
      placeholder="Nom complet"
      required
      minlength="5"
      [(ngModel)]="candidateForm.name"
      #name="ngModel"
      [ngClass]="{ valid: name.valid, invalid: name.invalid && name.touched }"
    >

    <p style="font-size:small;
    color: red;" *ngIf="name.invalid && name.touched">Nom obligatoire (min 5 caractères)</p>

    <input
      type="email"
      name="email"
      placeholder="Email professionnel"
      required
      email
      [(ngModel)]="candidateForm.email"
      #email="ngModel"
      [ngClass]="{ valid: email.valid, invalid: email.invalid && email.touched }"
    >
    <p style="
    font-size:small;
    color: red;" *ngIf="email.invalid && email.touched">Email invalide</p>

    <select name="level" required [(ngModel)]="candidateForm.level" #level="ngModel">
      <option value="">-- Niveau --</option>
      <option>Junior</option>
      <option>Confirmé</option>
      <option>Senior</option>
    </select>
  </fieldset>

  <!-- PRÉFÉRENCES -->
  <fieldset ngModelGroup="preferences">
    <legend>Préférences</legend>

    <label>
      <input type="radio" name="contract" value="CDI" [(ngModel)]="candidateForm.preferences.contract">
      CDI
    </label>


              

    <label>
      <input type="checkbox" name="available" [(ngModel)]="candidateForm.preferences.available">
      Disponible immédiatement
    </label>
  </fieldset>

  <!-- BIO -->
  <fieldset>
    <legend>Bio</legend>

    <textarea
      name="bio"
      minlength="20"
      maxlength="200"
      [(ngModel)]="candidateForm.bio"
      #bio="ngModel"
    ></textarea>

    <p [ngClass]="{ danger: candidateForm.bio.length > 180 }">
      {{ candidateForm.bio.length }}/200
    </p>
  </fieldset>

  <button type="submit" [disabled]="f.invalid">
    Postuler
  </button>

</form>

<!-- LIVE PREVIEW -->
<div class="preview">
  <h3>Carte Candidat</h3>
  <p><b>Nom:</b> {{ candidateForm.name }}</p>
  <p><b>Email:</b> {{ candidateForm.email }}</p>
  <p><b>Niveau:</b> {{ candidateForm.level }}</p>
  <p><b>Contrat:</b> {{ candidateForm.preferences.contract }}</p>
  <p><b>Disponible:</b> {{ candidateForm.preferences.available ? 'Oui' : 'Non' }}</p>
  <p><b>Bio:</b> {{ candidateForm.bio }}</p>
</div>
